<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formation - Formateur</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
<div class="container mx-auto my-10">


    <div class="relative inline-block">
  <span class="text-2xl md:text-3xl font-bold">
   Bienvenue a votre espace de formation
  </span>
        <span class="absolute -bottom-1 left-0 w-full h-1 bg-gradient-to-r from-blue-500 via-blue-400 to-blue-600 rounded-full"></span>
    </div>
    <br><br>
    <p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">Ici Vous pouvez Accéder a votre formation</p>
    <a href="/meet" class="inline-flex items-center justify-center ml-22 px-5 py-3 mx-12 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
        Créer une nouvelle réunion
        <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
    </a>
<br> <br>


</div>



<script>
    function handleJoinMeeting() {
        const roomId = document.getElementById("meetingName").value;
        const connectedUser = JSON.parse(localStorage.getItem('connectedUser'));

        const url = `videocall.html?roomID=${roomId}&username=${connectedUser.username}`;

        window.open(url, "_blank");
    }

    const joinMeetingBtn = document.getElementById("joinMeetingBtn");
    joinMeetingBtn.addEventListener("click", handleJoinMeeting);
</script>
</body>
</html>
